doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Hi #{company_name}!
    p You have new feedback from #{first_name} #{last_name}.
    a(href="#{URL}") #{URL}
